


.faq.active svg {
  //transform: rotate(180deg);
}

svg {
 // transition: transform 0.5s ease-in;
}


// hamburger menu
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
  position: fixed;
  top: 50px;
  right: 25px;
}
